# Proxy
TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443
TRAEFIK_ACME_EMAIL=semabelou@gmail.com

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_PORT=5432

# ClickHouse
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse123
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000

# RabbitMQ
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_HOST=rabbitmq.pingtower.semao0.ru
RABBITMQ_ADMIN_USER=admin
RABBITMQ_ADMIN_HASH=CHANGE_ME_RABBITMQ_SHA256_PASSWORD_HASH

# Logging
GRAFANA_HOST=grafana.pingtower.semao0.ru
